<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnllamadas.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_calls}"/>
	
	<excel 
		recordset='query-smnllamadas.sql' 
		sheetname='${lbl:b_calls}' 
		filename='${lbl:b_calls}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_cliente_id_combo' label='${lbl:b_customer}' />
		<col id='smn_prospecto_id_combo' label='${lbl:b_leaflet}' />
		<col id='smn_tipo_documento_id_combo' label='${lbl:b_tipo_documento_factura}' />
		<col id='smn_documento_id_combo' label='${lbl:b_document}' />
		<col id='lla_descripcion' label='${lbl:b_description}' />
		<col id='smn_gestion_id_combo' label='${lbl:b_management}' />
		<col id='lla_estatus_combo' label='${lbl:b_status}' />
		<col id='lla_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
