<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='11%'/>
	<col width='11%'/>
	<!-- <col width='11%'/> -->
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>


	<!--toolbar-->
	<tr>
		<th colspan="11" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("pde_naturaleza_pl0","query-smnpedidocomponentes.sql")'>${lbl:b_detail_bill}</th>
		<th class='sortable' onclick='sortBy("smn_mov_caja_detalle_id","query-smnpedidocomponentes.sql")'>${lbl:b_movement_caj}</th>
		<!-- <th class='sortable' onclick='sortBy("smn_ingresos_rf_combo","query-smnpedidocomponentes.sql")'>${lbl:b_income}</th> -->
		<th class='sortable' onclick='sortBy("smn_grupo_componente_rf_combo","query-smnpedidocomponentes.sql")'>${lbl:b_component_group}</th>
		<th class='sortable' onclick='sortBy("pco_cantidad","query-smnpedidocomponentes.sql")'>${lbl:b_quantity}</th>
		<th class='sortable' onclick='sortBy("smn_precio_ml_rf","query-smnpedidocomponentes.sql")'>${lbl:b_price}</th>
		<th class='sortable' onclick='sortBy("pco_monto_ml","query-smnpedidocomponentes.sql")'>${lbl:b_amount}</th>
		<th class='sortable' onclick='sortBy("pco_estatus_combo","query-smnpedidocomponentes.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("pco_fecha_registro","query-smnpedidocomponentes.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_pedido_componentes_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_pedido_componentes_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_pedido_componentes_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:pde_naturaleza_pl0}</td>
		<td>${fld:smn_mov_caja_detalle_id}</td>
		<!-- <td>${fld:smn_ingresos_rf_combo}</td> -->
		<td>${fld:smn_grupo_componente_rf_combo}</td>
		<td>${fld:pco_cantidad}</td>
		<td align='right'>${fld:smn_precio_ml_rf@#,###,##0.00}</td>
		<td align='right'>${fld:pco_monto_ml@#,###,##0.00}</td>
		<td align='left'>${fld:pco_estatus_combo}</td>
		<td>${fld:pco_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
