<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpedidopagadores.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="2" cellStep="0" name="${lbl:b_order_paying}"/>
	
	<excel 
		recordset='query-smnpedidopagadores.sql' 
		sheetname='${lbl:b_order_paying}' 
		filename='${lbl:b_order_paying}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_pedido_cabecera_id' label='${lbl:b_control_header_order}' />
		<col id='smn_cliente_id' label='${lbl:b_customer}' />
		<col id='ppa_monto' label='${lbl:b_amount}' />
		<col id='ppa_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
