<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncontrolrenovacion.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_control_renovation}"/>
	
	<excel 
		recordset='query-smncontrolrenovacion.sql' 
		sheetname='${lbl:b_control_renovation}' 
		filename='${lbl:b_control_renovation}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_afiliado_id' label='${lbl:b_afiliation}' />
		<col id='smn_pedido_id' label='${lbl:b_order}' />
		<col id='crn_fecha_renovacion' label='${lbl:b_renovation_date}' />
		<col id='crn_fecha_vigencia_hasta' label='${lbl:b_date_vigency_end}' />
		<col id='crn_estatus_combo' label='${lbl:b_estatus}' />
		<col id='crn_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
