<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpedidodetalle.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_control_header_order_health_detail}"/>
	
	<excel 
		recordset='query-smnpedidodetalle.sql' 
		sheetname='${lbl:b_control_header_order_health_detail}' 
		filename='${lbl:b_control_header_order_health_detail}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_pedido_cabecera_id' label='${lbl:b_control_header_order_health}' />
		<col id='pde_naturaleza' label='${lbl:b_nature}' />
		<col id='pde_cantidad_oferta' label='${lbl:b_quantity_offer}' />
		<col id='pde_cantidad_pedido' label='${lbl:b_quantity_order}' />
		<col id='pde_cantidad_aprobada' label='${lbl:b_quantity_aprob}' />
		<col id='pde_precio' label='${lbl:b_price}' />
		<col id='pde_monto' label='${lbl:b_amount}' />
		<col id='pde_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
