<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnevento.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${fld:b_event}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${fld:b_event}">
				<col id='eve_codigo' label='${lbl:b_code}' />
		<col id='eve_descripcion_corta' label='${lbl:b_description_short}' />
		<col id='eve_descripcion_larga' label='${lbl:b_description_large}' />
		<col id='smn_servicios_rf' label='${lbl:b_services}' />
		<col id='eve_fecha_inicial' label='${lbl:b_date_init}' />
		<col id='eve_fecha_final' label='${lbl:b_date_end}' />
		<col id='eve_hora_inicial' label='${lbl:b_hour_init}' />
		<col id='eve_hora_final' label='${lbl:b_hour_end}' />
		<col id='smn_prestador_servicio_rf' label='${fld:b_service_provider}' />
		<col id='smn_clasificacion_abc_rf' label='${lbl:b_abc_clasification}' />
		<col id='eve_cupo' label='${lbl:b_quota}' />
		<col id='eve_reservas_por_afiliado' label='${lbl:b_reservation_by_affiliation}' />
		<col id='eve_estatus' label='${lbl:b_estatus}' />
		<col id='eve_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
