<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smningredientes.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_ingredients}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_ingredients}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smningredientes.sql' width='100' spacingBefore='40'>
			<col name='smn_solicitud_servicio_entregas_detalle_id' title='${lbl:b_detail_services_delivery_request}' width='16' align='left' format='######' />
			<col name='smn_item_rf' title='${lbl:b_item}' width='16' align='left' format='######' />
			<col name='smn_unidad_medida_rf' title='${lbl:b_measurement_unit}' width='16' align='left' format='######' />
			<col name='igs_cantidad' title='${lbl:b_quantity}' width='16' align='left' format='######' />
			<col name='igs_precio' title='${lbl:b_price}' width='16' align='left' format='#,###,##0.00' />
			<col name='igs_fecha_registro' title='${lbl:b_store_date}' width='16' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
