<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnpedidocabecera.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_documento_id</colname>
			<colname>num_ingreso</colname>
			<colname>smn_auxiliar_rf</colname>
			<colname>pca_numero_pedido</colname>
			<colname>smn_oferta_id</colname>
			<colname>smn_cliente_id</colname>
			<colname>smn_usuario_rf</colname>
			<colname>pca_fecha_registro_ini</colname>
			<colname>pca_fecha_registro_fin</colname>
			<colname>pca_estatus</colname>
		
		</cols>
		<table>smn_comercial.smn_pedido_cabecera</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnpedidocabecera.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>smn_documento_id;num_ingreso;smn_auxiliar_rf;pca_numero_pedido;smn_oferta_id;smn_cliente_id;smn_usuario_rf;pca_estatus;pca_fecha_registro_ini;pca_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
