<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ver resultado de consulta
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>
	
	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<!-- <recordset id='query-smn_entidad_rf.sql' source='sql' scope='transaction'/>-->
		<recordset id="query-smnpedidocabecera.sql" source="session" scope="transaction" />
		<recordset id="query-smnpedidodetalle.sql" source="session" scope="transaction" />
		<recordset id="gran-total.sql" source="session" scope="transaction"/>
		<recordset id="grafica.sql" source="session" scope="transaction" />	
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<!-- <classname>dinamica.MasterDetailOutput</classname> -->
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/plain; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-smnpedidodetalle.sql" tag="rows-query-smnpedidodetalle.sql"/>
		<print mode="form" recordset="gran-total.sql"/>
		<print mode="form" recordset="grafica.sql"/>	
	</output>
	
	<!-- <repmd>
		<master recordset="query-smnpedidocabecera.sql">
			<detail recordset="query-smnpedidodetalle.sql" mode="table" tag="rows-query-smnpedidodetalle.sql"/>

		</master>
	</repmd> -->


</config>
