<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>
	<col width='22%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_pedido_cabecera_id','query-smnpedidopagadores.sql')" >${lbl:b_header_order}</th>
		<th class='sortable' onclick="sortBy('smn_cliente_id','query-smnpedidopagadores.sql')" >${lbl:b_customer}</th>
		<th class='sortable' onclick="sortBy('ppa_monto','query-smnpedidopagadores.sql')" >${lbl:b_amount}</th>
		<th class='sortable' onclick="sortBy('ppa_fecha_registro','query-smnpedidopagadores.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_pedido_pagadores_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_pedido_pagadores_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_pedido_pagadores_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_pedido_cabecera_id}</td>
		<td align="center">${fld:smn_cliente_id}</td>
		<td align="right">${fld:ppa_monto@#,###,##0.00}</td>
		<td align="center">${fld:ppa_fecha_registro}</td>

	</tr>
	</rows>

</table>
