<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_rol_id","query-smnsubcentrofacturacion.sql")'>${lbl:b_rol}</th>
		<th class='sortable' onclick='sortBy("smn_usuario_rf","query-smnsubcentrofacturacion.sql")'>${lbl:b_user}</th>
		<th class='sortable' onclick='sortBy("smn_corporacion_rf","query-smnsubcentrofacturacion.sql")'>${lbl:b_corporations}</th>
		<th class='sortable' onclick='sortBy("scf_estatus_combo","query-smnsubcentrofacturacion.sql")'>${lbl:b_status}</th>
		<th class='sortable' onclick='sortBy("scf_vigencia","query-smnsubcentrofacturacion.sql")'>${lbl:b_validation_date}</th>
		<th class='sortable' onclick='sortBy("scf_fecha_registro","query-smnsubcentrofacturacion.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_sub_centro_facturacion_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_sub_centro_facturacion_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_sub_centro_facturacion_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_rol_id}</td>
		<td>${fld:smn_usuario_rf}</td>
		<td>${fld:smn_corporacion_rf}</td>
		<td align='left'>${fld:scf_estatus_combo}</td>
		<td>${fld:scf_vigencia@dd-MM-yyyy}</td>
		<td>${fld:scf_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
