<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<!-- <col width='3%'/>
	<col width='3%'/> -->
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="10" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
	<!-- 	<th></th>
		<th></th> -->
		<th class='sortable' onclick='sortBy("smn_evento_id","query-smnreservas.sql")'>${lbl:b_event}</th>
		<th class='sortable' onclick='sortBy("smn_afiliado_id","query-smnreservas.sql")'>${lbl:b_afiliate}</th>
		<th class='sortable' onclick='sortBy("smn_relacionado_id","query-smnreservas.sql")'>${lbl:b_related}</th>
		<th class='sortable' onclick='sortBy("res_cantidad","query-smnreservas.sql")'>${lbl:b_quantity}</th>
		<th class='sortable' onclick='sortBy("res_asiconexp","query-smnreservas.sql")'>Asistencia Confirmada Expositor</th>
		<th class='sortable' onclick='sortBy("res_asiconpro","query-smnreservas.sql")'>Asistencia Confirmada Protocolo</th>
		<th class='sortable' onclick='sortBy("res_asiconaud","query-smnreservas.sql")'>Asistencia Confirmada Auditoria</th>
		<th class='sortable' onclick='sortBy("res_estatus","query-smnreservas.sql")'>${lbl:b_estatus}</th>
		<th class='sortable' onclick='sortBy("res_fecha_registro","query-smnreservas.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_reservas_id}')" title="${lbl:b_view_detail}"></td>
		<!-- <td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_reservas_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_reservas_id}')" title="${lbl:b_edit_button}"></td> -->
		<td>${fld:smn_evento_id}</td>
		<td>${fld:smn_afiliado_id}</td>
		<td>${fld:smn_relacionado_id}</td>
		<td>${fld:res_cantidad}</td>
		<td align='center'>${fld:res_asiconexp}</td>
		<td align='center'>${fld:res_asiconpro}</td>
		<td align='center'>${fld:res_asiconaud}</td>
		<td align='center'>${fld:res_estatus}</td>
		<td>${fld:res_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
