<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnfacturabonificacion.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_bill_bonus}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_bill_bonus}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnfacturabonificacion.sql' width='100' spacingBefore='40'>
			<col name='fde_naturaleza_pl0' title='${lbl:b_detail_bill}' width='14' align='left' />
			<col name='smn_item_bonificar_rf' title='${lbl:b_item_meliorate}' width='14' align='left' format='######' />
			<col name='fbo_cantidad_origen' title='${lbl:b_quantity_origin}' width='14' align='left' format='######' />
			<col name='fbo_cantidad_bonificar' title='${lbl:b_quantity_meliorate}' width='14' align='left' format='######' />
			<col name='fbo_precio_original' title='${lbl:b_price_original}' width='14' align='left' format='#,###,##0.00' />
			<col name='fbo_monto' title='${lbl:b_amount}' width='14' align='left' format='#,###,##0.00' />
			<col name='fbo_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
