<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>
	<col width='10%'/>


	<!--toolbar-->
	<tr>
		<th colspan="13" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_documento_id","query-smncontrolfiscaldocumento.sql")'>${lbl:b_document}</th>
		<th class='sortable' onclick='sortBy("cfd_numero_documento_fiscal_inicial","query-smncontrolfiscaldocumento.sql")'>${lbl:b_doc_num_fis_ini}</th>
		<th class='sortable' onclick='sortBy("cfd_numero_documento_fiscal_final","query-smncontrolfiscaldocumento.sql")'>${lbl:b_doc_num_fis_fin}</th>
		<th class='sortable' onclick='sortBy("cfd_ultimo_numero_fiscal_usado","query-smncontrolfiscaldocumento.sql")'>${lbl:b_num_ult_fis_usa}</th>
		<th class='sortable' onclick='sortBy("smn_proveedor_rf","query-smncontrolfiscaldocumento.sql")'>${lbl:b_proveedor}</th>
		<th class='sortable' onclick='sortBy("cfd_fecha_solicitud","query-smncontrolfiscaldocumento.sql")'>${lbl:b_application_date}</th>
		<th class='sortable' onclick='sortBy("cfd_fecha_recepcion","query-smncontrolfiscaldocumento.sql")'>${lbl:b_reception_date}</th>
		<th class='sortable' onclick='sortBy("cfd_serie","query-smncontrolfiscaldocumento.sql")'>${lbl:b_serie}</th>
		<th class='sortable' onclick='sortBy("cfd_estatus","query-smncontrolfiscaldocumento.sql")'>${lbl:b_estatus}</th>
		<th class='sortable' onclick='sortBy("cfd_fecha_registro","query-smncontrolfiscaldocumento.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_control_fiscal_documento_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_control_fiscal_documento_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_control_fiscal_documento_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_documento_id}</td>
		<td>${fld:cfd_numero_documento_fiscal_inicial}</td>
		<td>${fld:cfd_numero_documento_fiscal_final}</td>
		<td>${fld:cfd_ultimo_numero_fiscal_usado}</td>
		<td>${fld:smn_proveedor_rf}</td>
		<td>${fld:cfd_fecha_solicitud@dd-MM-yyyy}</td>
		<td>${fld:cfd_fecha_recepcion@dd-MM-yyyy}</td>
		<td align='left'>${fld:cfd_serie}</td>
		<td align='left'>${fld:cfd_estatus}</td>
		<td>${fld:cfd_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
