<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelclienteentidadfinanciera.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_relacion_cliente_entidad_financiera}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_relacion_cliente_entidad_financiera}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnrelclienteentidadfinanciera.sql' width='100' spacingBefore='40'>
			<col name='smn_cliente_id' title='${lbl:b_customer}' width='14' align='left' format='######' />
			<col name='smn_entidad_financiera_rf' title='${lbl:b_financial_entities}' width='14' align='left' format='######' />
			<col name='smn_tipo_cuenta_banco_rf' title='${lbl:b_types_of_bank_accounts}' width='14' align='left' format='######' />
			<col name='cef_numero_cuenta' title='${lbl:b_bank_account_number}' width='14' align='left' />
			<col name='cef_estatus' title='${lbl:b_status}' width='14' align='left' />
			<col name='cef_vigencia' title='${lbl:b_validation_date}' width='14' align='left' format='dd-MM-yyyy' />
			<col name='cef_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
