<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncatalogoitemcomercio.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_catalog_item_commerce}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_catalog_item_commerce}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='cic_origen' title='${lbl:b_origen}'  align='left' />
			<col name='smn_cliente_rf' title='${lbl:b_customer}'  format='######' align='left' />
			<col name='smn_item_rf' title='${lbl:b_item}'  format='######' align='left' />
			<col name='cic_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='cic_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smncatalogoitemcomercio.sql' width='100' spacingBefore='10'>
			<col name='cic_origen' title='${lbl:b_origen}' width='12' align='left' />
			<col name='smn_cliente_rf' title='${lbl:b_customer}' width='12' align='left' format='######' />
			<col name='smn_item_rf' title='${lbl:b_item}' width='12' align='left' format='######' />
			<col name='smn_clasificacion_abc_rf_a' title='${lbl:b_clasification_abc_a}' width='12' align='left' format='######' />
			<col name='smn_clasificacion_abc_rf_b' title='${lbl:b_clasification_abc_b}' width='12' align='left' format='######' />
			<col name='smn_clasificacion_abc_rf_c' title='${lbl:b_clasification_abc_c}' width='12' align='left' format='######' />
			<col name='smn_baremos_rf' title='${lbl:b_baremo}' width='12' align='left' format='######' />
			<col name='cic_fecha_registro' title='${lbl:b_store_date}' width='12' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
