<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>


	<!--toolbar-->
	<tr>
		<th colspan="14" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_factura_cabecera_id","query-smnfacturadetalle.sql")'>${lbl:b_header_bill}</th>
		<th class='sortable' onclick='sortBy("fde_naturaleza","query-smnfacturadetalle.sql")'>${lbl:b_nature}</th>
		<th class='sortable' onclick='sortBy("fde_cantidad","query-smnfacturadetalle.sql")'>${lbl:b_quantity}</th>
		<th class='sortable' onclick='sortBy("fde_precio_ml","query-smnfacturadetalle.sql")'>${lbl:b_price}</th>
		<th class='sortable' onclick='sortBy("fde_monto_ml","query-smnfacturadetalle.sql")'>${lbl:b_amount}</th>
		<th class='sortable' onclick='sortBy("fde_fecha_registro","query-smnfacturadetalle.sql")'>${lbl:b_store_date}</th>
		<th>FC</th>
		<th>FK</th>
		<th>FB</th>
		<th>FI</th>
		<th>FD</th>
	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_factura_detalle_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_factura_detalle_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_factura_detalle_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_factura_cabecera_id}</td>
		<td>${fld:fde_naturaleza}</td>
		<td>${fld:fde_cantidad}</td>
		<td>${fld:fde_precio_ml}</td>
		<td>${fld:fde_monto_ml}</td>
		<td>${fld:fde_fecha_registro@dd-MM-yyyy}</td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="componentes('${fld:smn_factura_detalle_id}')" title="${lbl:b_components_bill}"></td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="kits('${fld:smn_factura_detalle_id}')" title="${lbl:b_kits_bill}"></td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="bonificacion('${fld:smn_factura_detalle_id}')" title="${lbl:b_bill_bonus}"></td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="impuesto('${fld:smn_factura_detalle_id}')" title="${lbl:b_tax_deduction_bill}"></td>
		<td><img src="${def:context}/images/icongrid/Detalle-impuesto.png" onclick="descuento('${fld:smn_factura_detalle_id}')" title="${lbl:b_tax_deduction_bill}"></td>
	</tr>
	</rows>

</table>
