<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelclientecontacto.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_relation_contact_customer}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_relation_contact_customer}">
				<col id='smn_cliente_id' label='${lbl:b_customer}' />
		<col id='smn_contacto_rf' label='${lbl:b_auxiliary_contact}' />
		<col id='smn_cliente_id' label='${lbl:b_customer}' />
		<col id='smn_contacto_rf' label='${lbl:b_auxiliary_contact}' />

	</sheet>
	
	</excel>

</config>
