<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_evento_id","query-smncontrolcupo.sql")'>${lbl:b_event}</th>
		<th class='sortable' onclick='sortBy("ccu_cupo","query-smncontrolcupo.sql")'>${lbl:b_quota}</th>
		<th class='sortable' onclick='sortBy("ccu_reservas","query-smncontrolcupo.sql")'>${lbl:b_booking}</th>
		<th class='sortable' onclick='sortBy("ccu_saldo","query-smncontrolcupo.sql")'>${lbl:b_balance}</th>
		<th class='sortable' onclick='sortBy("ccu_estatus_combo","query-smncontrolcupo.sql")'>${lbl:b_estatus}</th>
		<th class='sortable' onclick='sortBy("ccu_fecha_registro","query-smncontrolcupo.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_control_cupo_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_control_cupo_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_control_cupo_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_evento_id}</td>
		<td>${fld:ccu_cupo}</td>
		<td>${fld:ccu_reservas}</td>
		<td>${fld:ccu_saldo}</td>
		<td align='left'>${fld:ccu_estatus_combo}</td>
		<td>${fld:ccu_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
