<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_plan_venta}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_plan_venta}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_plan_venta}' width='60' spacingBefore='40'>
			<col name='smn_entidades_rf' title='${lbl:b_item}' align='left'  />
			<col name='smn_sucursal_rf' title='${lbl:b_subsidiary}' align='left'  />
			<col name='smn_area_servicio_rf' title='${lbl:b_service_areas}' align='left'  />
			<col name='smn_unidad_servicio_rf' title='${lbl:b_service_units}' align='left'  />
			<col name='smn_almacen_rf' title='${lbl:b_store_code}' align='left'  />
			<col name='smn_documento_id' title='${lbl:b_document}' align='left'  />
			<col name='smn_servicio_rf' title='${lbl:b_services}' align='left'  />
			<col name='smn_item_rf' title='${lbl:b_item}' align='left'  />
			<col name='plv_semestre_rf' title='${lbl:b_semestre}' align='left' />
			<col name='plv_trimestre_rf' title='${lbl:b_trimestre}' align='left' />
			<col name='plv_mes_rf' title='${lbl:b_mes}' align='left' />
			<col name='plv_semana_rf' title='${lbl:b_semana}' align='left' />
			<col name='plv_fecha' title='${lbl:b_fecha}' align='left' format='dd-MM-yyyy' />
			<col name='plv_cantidad_rf' title='${lbl:b_quantity}' align='left' format='#,###,##0.00' />
			<col name='plv_precio_rf' title='${lbl:b_price}' align='left' format='#,###,##0.00' />
			<col name='plv_monto_rf' title='${lbl:b_amount}' align='left' format='#,###,##0.00' />
			<col name='mon_nombre' title='${lbl:b_coins}' align='left' format='#,###,##0.00' />
			<col name='plv_monto_ma_rf' title='${lbl:b_amount_ma}' align='left' format='#,###,##0.00' />
			<col name='smn_moneda_rf' title='${lbl:b_coins}' align='left'  />
			<col name='smn_tasa_rf' title='${lbl:b_exchange_rate}' align='left'  />
			<col name='plv_fecha_registro' title='${lbl:b_store_date}' align='left' format='dd-MM-yyyy' />
		</record>


	</pdf-report>
</config>
