<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnevento.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_event}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_event}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='eve_codigo' title='${lbl:b_code}'  align='left' />
			<col name='eve_descripcion_corta' title='${lbl:b_description_short}'  align='left' />
			<col name='smn_prestador_servicio_rf' title='${fld:b_service_provider}'  format='######' align='left' />
			<col name='eve_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='eve_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnevento.sql' width='100' spacingBefore='10'>
			<col name='eve_codigo' title='${lbl:b_code}' width='11' align='left' />
			<col name='eve_descripcion_corta' title='${lbl:b_description_short}' width='11' align='left' />
			<col name='eve_descripcion_larga' title='${lbl:b_description_large}' width='11' align='left' />
			<col name='smn_servicios_rf' title='${lbl:b_services}' width='11' align='left' format='######' />
			<col name='eve_fecha_inicial' title='${lbl:b_date_init}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='eve_fecha_final' title='${lbl:b_date_end}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='smn_prestador_servicio_rf' title='${fld:b_service_provider}' width='11' align='left' format='######' />
			<col name='eve_estatus' title='${lbl:b_estatus}' width='11' align='left' />
			<col name='eve_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
