<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>
	<col width='11%'/>


	<!--toolbar-->
	<tr>
		<th colspan="12" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_rel_oferta_cliente_id","query-smnacciongestioncliente.sql")'>${lbl:b_rel_customer_offer}</th>
		<th class='sortable' onclick='sortBy("smn_accion_id","query-smnacciongestioncliente.sql")'>${lbl:b_action}</th>
		<th class='sortable' onclick='sortBy("ago_estatus_proceso","query-smnacciongestioncliente.sql")'>${lbl:b_process_status}</th>
		<th class='sortable' onclick='sortBy("ago_fecha_seguimiento","query-smnacciongestioncliente.sql")'>${lbl:b_tracking_date}</th>
		<th class='sortable' onclick='sortBy("ago_fecha_aprobacion","query-smnacciongestioncliente.sql")'>${lbl:b_aprobation_date}</th>
		<th class='sortable' onclick='sortBy("ago_fecha_vigencia_desde","query-smnacciongestioncliente.sql")'>${lbl:b_from_vigency_date}</th>
		<th class='sortable' onclick='sortBy("ago_fecha_vigencia_hasta","query-smnacciongestioncliente.sql")'>${lbl:b_to_vigency_date}</th>
		<th class='sortable' onclick='sortBy("ago_fecha_cierre","query-smnacciongestioncliente.sql")'>${lbl:b_to_vigency_date}</th>
		<th class='sortable' onclick='sortBy("ago_fecha_registro","query-smnacciongestioncliente.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_accion_gestion_cliente_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_accion_gestion_cliente_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_accion_gestion_cliente_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_rel_oferta_cliente_id}</td>
		<td>${fld:smn_accion_id}</td>
		<td align='left'>${fld:ago_estatus_proceso}</td>
		<td>${fld:ago_fecha_seguimiento@dd-MM-yyyy}</td>
		<td>${fld:ago_fecha_aprobacion@dd-MM-yyyy}</td>
		<td>${fld:ago_fecha_vigencia_desde@dd-MM-yyyy}</td>
		<td>${fld:ago_fecha_vigencia_hasta@dd-MM-yyyy}</td>
		<td>${fld:ago_fecha_cierre@dd-MM-yyyy}</td>
		<td>${fld:ago_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
