<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnsubcentrofacturacion.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_sub_centro_facturacion}"/>
	
	<excel 
		recordset='query-smnsubcentrofacturacion.sql' 
		sheetname='${lbl:b_sub_centro_facturacion}' 
		filename='${lbl:b_sub_centro_facturacion}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_rol_id_combo' label='${lbl:b_rol}' />
		<col id='smn_usuario_rf_combo' label='${lbl:b_user}' />
		<col id='smn_corporacion_rf_combo' label='${lbl:b_corporations}' />
		<col id='scf_estatus_combo' label='${lbl:b_status}' />
		<col id='scf_vigencia' label='${lbl:b_validation_date}' />
		<col id='scf_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
