<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>sec_origen</colname>
			<colname>smn_documento_id</colname>
			<colname>smn_cliente_rf</colname>
			<colname>smn_clase_auxiliar_rf</colname>
			<colname>smn_auxiliar_rf</colname>
			<colname>smn_tipo_servicio_rf</colname>
			<colname>sec_descripcion</colname>
			<colname>sec_direccion_busqueda</colname>
			<colname>sec_direccion_entrega</colname>
			<colname>sec_fecha_solicitud</colname>
			<colname>sec_hora_solicitud</colname>
			<colname>sec_especificacion_servicio</colname>
			<colname>sec_observacion_servicio</colname>
			<colname>sec_monto_ml</colname>
			<colname>smn_moneda_rf</colname>
			<colname>sec_monto_ma</colname>
			<colname>smn_forma_pago_rf</colname>
			<colname>sec_monto_pago_efectivo</colname>
			<colname>sec_otras_instrucciones</colname>
			<colname>sec_estatus_proceso</colname>
			<colname>sec_estatus_financiera</colname>
		
		</cols>
		<table>smn_comercial.smn_solicitud_servicio_entregas_cabecera</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
