<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncliente.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="6" cellStep="0" name="${lbl:b_customer}"/>
	
	<excel 
		recordset='query-smncliente.sql' 
		sheetname='${lbl:b_customer}' 
		filename='${lbl:b_customer}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_clasificacion_cliente_id' label='${lbl:b_clasificacion_cliente}' />
		<col id='smn_clase_auxiliar_rf' label='${lbl:b_auxiliary_classes}' />
		<col id='smn_auxiliar_rf' label='${lbl:b_auxiliary}' />
		<col id='promotor' label='${lbl:b_promotor}' />
		<col id='direccion' label='${lbl:b_address}' />
		<col id='smn_condicion_financiera_rf' label='${lbl:b_financial_condition}' />
		<col id='smn_clasificacion_abc_rf' label='${lbl:b_abc_clasification}' />
		<col id='smn_sector_economico_rf' label='${lbl:b_economic_sectors}' />
		<col id='cli_nacional_ext' label='${lbl:b_cliente_nacional_extranjero}' />
		<col id='cli_vigencia' label='${lbl:b_validation_date}' />
		<col id='cli_estatus' label='${lbl:b_status}' />
		<col id='cli_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
