<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordenservicio.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_service_order}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_service_order}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnordenservicio.sql' width='100' spacingBefore='40'>
			<col name='smn_documento_id' title='${lbl:b_document}' width='11' align='left' format='######' />
			<col name='ors_numero' title='${lbl:b_number}' width='11' align='left' format='######' />
			<col name='smn_cliente_id' title='${lbl:b_customer}' width='11' align='left' format='######' />
			<col name='ors_descripcion' title='${lbl:b_description}' width='11' align='left' />
			<col name='ors_fecha_inicial' title='${lbl:b_date_init}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='ors_fecha_final' title='${lbl:b_date_end}' width='11' align='left' format='dd-MM-yyyy' />
			<col name='smn_prestador_servicio_rf' title='${lbl:b_service_provider}' width='11' align='left' format='######' />
			<col name='ors_estatus' title='${lbl:b_estatus}' width='11' align='left' />
			<col name='ors_fecha_registro' title='${lbl:b_store_date}' width='11' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
