<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Crea HGrid de las imagenes
	</summary>
	
	<log>false</log>
	
	<set-request-attribute id="controls" value="file:/WEB-INF/action/picklist/pagecontrols/controls.htm"/>

	<output>
		<classname>dinamica.HGridPagedOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/plain; charset=iso-8859-1</content-type>
	</output>

	<!--hgrid config-->
	<row-template>row.htm</row-template>
	<col-template>col.htm</col-template>
	<cols>6</cols>
	<hgrid-recordset>query-smnimagenitemcomercio.sql</hgrid-recordset>
	<!--end hgrid config-->
	
</config>
