<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar registro 
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_pedido_cabecera_id</colname>
			<colname>pde_naturaleza</colname>
			<colname>smn_servicios_rf</colname>
			<colname>smn_item_rf</colname>
			<colname>smn_activo_fijo_rf</colname>
			<colname>pde_cantidad_oferta</colname>
			<colname>pde_cantidad_pedido</colname>
			<colname>pde_cantidad_aprobada</colname>
			<colname>pde_precio</colname>
			<colname>pde_monto</colname>
			<colname>smn_moneda_rf</colname>
			<colname>smn_tasa_rf</colname>
			<colname>pde_precio_moneda_alterna</colname>
			<colname>pde_monto_moneda_alterna</colname>
			<colname>pde_especificaciones_pedido</colname>
			<colname>pde_fecha_requerido</colname>
			<colname>pde_observaciones</colname>
		
		</cols>
		<table>smn_comercial.smn_pedido_detalle</table>
		<oper>AÑADIR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>select ${seq:currval@smn_comercial.seq_smn_pedido_detalle} as id</pkey>
	</audit>

	 <colname>smn_ingredientes_id</colname>
	 <sql-template>insert-query-smn_rel_detalle_ingrediente.sql</sql-template>

	<transaction>
		<classname>domain.admin.InsertMaster</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="nextval.sql" source="sql" scope="transaction" />
		<!-- <recordset id="query-smn_ingredientes.sql" source="request" scope="session" /> -->
		
	</transaction>
	<!-- <transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="nextval.sql" source="sql" scope="transaction" />
	</transaction> -->

	<query>insert.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_request" />
		<print mode="form" recordset="nextval.sql" />
	</output>
	
	<!-- Envio de email declarativo -->
	<mail enabled="false">
		<subject>Subject</subject>
		<mail-to>martin.cordova@gmail.com</mail-to>
		<body>body.txt</body>
	</mail>

</config>
