<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelclientedocumento.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="1" cellStep="0" name="${lbl:b_document_customers_relationship}"/>
	
	<excel 
		recordset='query-smnrelclientedocumento.sql' 
		sheetname='${lbl:b_document_customers_relationship}' 
		filename='${lbl:b_document_customers_relationship}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_documento_id_combo' label='${lbl:b_document}' />
		<col id='smn_cliente_id_combo' label='${lbl:b_customer}' />

	</excel>

</config>
