<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelacionado.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_related}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_related}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_afiliados_id' title='${lbl:b_afiliate}'   align='left' />
			<col name='rel_auxiliar_rf' title='${lbl:b_auxiliary}'   align='left' />
			<col name='rel_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='rel_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnrelacionado.sql' width='100' spacingBefore='10'>
			<col name='smn_afiliados_id' title='${lbl:b_afiliate}' width='14' align='left'  />
			<col name='aux_descripcion' title='${lbl:b_auxiliary}' width='14' align='left'  />
			<col name='rel_fecha_inicio' title='${lbl:b_date_init}' width='14' align='left' format='dd-MM-yyyy' />
			<col name='rel_fecha_final' title='${lbl:b_date_end}' width='14' align='left' format='dd-MM-yyyy' />
			<col name='rel_fecha_desafiliado' title='${lbl:b_date_desafiliate}' width='14' align='left' format='dd-MM-yyyy' />
			<col name='rel_estatus' title='${lbl:b_status}' width='14' align='left' />
			<col name='rel_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
