<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnfacturadescuentosretenciones.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_discount_bill}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_discount_bill}">
				<col id='smn_factura_detalle_id' label='${lbl:b_detail_bill}' />
		<col id='smn_descuentos_retenciones_rf_combo' label='${lbl:b_discount_retention}' />
		<col id='fdr_monto_base_ml' label='${lbl:b_amount_base_ml}' />
		<col id='fdr_porcentaje_descuento' label='${lbl:b_percentage_discount}' />
		<col id='fdr_monto_descuento_ml' label='${lbl:b_amount_discount}' />
		<col id='smn_moneda_rf_combo' label='${lbl:b_coins}' />
		<col id='smn_tasa_rf_combo' label='${lbl:b_exchange_rate}' />
		<col id='fdr_monto_descuento_ma' label='${lbl:b_amount_discount_ma}' />
		<col id='fdr_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
