<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpedidocabecera.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_point_of_sale_order_rest}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_point_of_sale_order_rest}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnpedidocabecera.sql' width='100' spacingBefore='40'>
			<col name='smn_documento_id' title='${lbl:b_document}' width='12' align='left' format='######' />
			<col name='pca_numero_pedido' title='${lbl:b_order_number}' width='12' align='left' format='######' />
			<col name='smn_oferta_id' title='${lbl:b_offer}' width='12' align='left' format='######' />
			<col name='smn_cliente_id' title='${lbl:b_customer}' width='12' align='left' format='######' />
			<col name='smn_usuario_rf' title='${lbl:b_user}' width='12' align='left' format='######' />
			<col name='pca_descripcion' title='${lbl:b_description}' width='12' align='left' />
			<col name='pca_estatus' title='${lbl:b_status}' width='12' align='left' />
			<col name='pca_fecha_registro' title='${lbl:b_store_date}' width='12' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
