<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrellineacomercialafijo.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_relacion_linea_comercial_activo_fijo}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_relacion_linea_comercial_activo_fijo}">
				<col id='smn_linea_comercial_id_combo' label='${lbl:b_linea_comercial}' />
		<col id='smn_activo_rf_combo' label='${lbl:b_account_type_active}' />
		<col id='rla_estatus_combo' label='${lbl:b_status}' />
		<col id='rla_vigencia' label='${lbl:b_validation_date}' />
		<col id='rla_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
