<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpedidodescretenciones.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_discount_retention_order}"/>
	
	<excel 
		recordset='query-smnpedidodescretenciones.sql' 
		sheetname='${lbl:b_discount_retention_order}' 
		filename='${lbl:b_discount_retention_order}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_pedido_detalle_id' label='${lbl:b_header_order_detail}' />
		<col id='smn_descuentos_retenciones_rf' label='${lbl:b_discount_retention}' />
		<col id='pim_monto_base_ml' label='${lbl:b_amount_base_ml}' />
		<col id='pim_porcentaje_retencion' label='${lbl:b_percentage_discount}' />
		<col id='pim_monto_descuento_retencion' label='${lbl:b_amount_discount}' />
		<col id='smn_moneda_rf' label='${lbl:b_coins}' />
		<col id='smn_tasa_rf' label='${lbl:b_exchange_rate}' />
		<col id='pim_monto_descuento_ma' label='${lbl:b_amount_discount_ma}' />
		<col id='pim_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
