<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelacionado.sql" source="session" scope="transaction" />
		<recordset id='query-smnauxiliar.sql' source='sql' scope='transaction' />
	
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_related}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_related}">
				<col id='smn_afiliados_id' label='${lbl:b_afiliate}' />
		<col id='rel_auxiliar_rf' label='${lbl:b_auxiliary}' />
		<col id='rel_fecha_inicio' label='${lbl:b_date_init}' />
		<col id='rel_fecha_final' label='${lbl:b_date_end}' />
		<col id='rel_fecha_desafiliado' label='${lbl:b_date_desafiliate}' />
		<col id='rel_estatus' label='${lbl:b_status}' />
		<col id='rel_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
		<sheet recordset='query-smnauxiliar.sql' sheetname=''>
		<col id='aux_descripcion' label='${lbl:b_description}' />
	</sheet>


	</excel>

</config>
