<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnmetas.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_goals}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_goals}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnmetas.sql' width='100' spacingBefore='40'>
			<col name='smn_tipo_documento_id_combo' title='${lbl:b_tipo_documento_factura}' width='14' align='left' format='######' />
			<col name='smn_documento_id_combo' title='${lbl:b_document}' width='14' align='left' format='######' />
			<col name='smn_usuario_rf_combo' title='${lbl:b_user}' width='14' align='left' format='######' />
			<col name='met_cantidad_diaria' title='${lbl:b_diary_quantity}' width='14' align='left' format='######' />
			<col name='met_cantidad_usuario' title='${lbl:b_user_quantity}' width='14' align='left' format='######' />
			<col name='met_estatus_combo' title='${lbl:b_status}' width='14' align='left' />
			<col name='met_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
