<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnpedidocabecera.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="4" cellStep="0" name="${lbl:b_header_order}"/>
	
	<excel 
		recordset='query-smnpedidocabecera.sql' 
		sheetname='${lbl:b_header_order}' 
		filename='${lbl:b_header_order}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_documento_id' label='${lbl:b_document}' />
		<col id='pca_numero_pedido' label='${lbl:b_order_number}' />
		<col id='smn_oferta_id' label='${lbl:b_offer}' />
		<col id='smn_cliente_id' label='${lbl:b_customer}' />
		<col id='smn_usuario_rf' label='${lbl:b_user}' />
		<col id='pca_descripcion' label='${lbl:b_description}' />
		<col id='pca_estatus' label='${lbl:b_status}' />
		<col id='pca_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
