<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelgrppromotorvendedorrol.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_rel_group_promoting_sales_rol}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_rel_group_promoting_sales_rol}">
				<col id='smn_grupo_promotores_vendedores_id' label='${lbl:b_group_promoting_sales}' />
		<col id='smn_rol_id' label='${lbl:b_rol}' />
		<col id='smn_grupo_promotores_vendedores_id' label='${lbl:b_group_promoting_sales}' />
		<col id='smn_rol_id' label='${lbl:b_rol}' />

	</sheet>
	
	</excel>

</config>
